<nav class="nav  share-nav">
	<p><span class="header  milli">Share: </span><a href="http://twitter.com/home?status={% if page.title == "In Betweens" %}New In-Between{% else %}{{ page.title }}{% endif %} http://{{ page.domain_name }}/{{ page.permalink }} - by @samkingphoto" target="blank">Twitter</a> / <a href="http://www.facebook.com/sharer.php?u=http://{{ page.domain_name }}/{{ page.permalink }}&t={{ page.title }}" target="blank">Facebook</a> / <a href="https://plusone.google.com/_/+1/confirm?hl=en&url=http://{{ page.domain_name }}/{{ page.permalink }}" target="blank">Google+</a></p>
</nav>
