/**
 *    ----------------------------------------
 *    P  A  G  E
 *    _page.scss
 * 	  general page wrappers etc.
 *    ----------------------------------------
 *
 *    P A G E  W R A P
 *    C O N T A I N E R S
 *    P A G E  C O N T E N T
 *
 */





/*    P A G E  W R A P
---------------------------------------- */

.page-wrap {
	position: relative;
	-webkit-backface-visibility: hidden;
}





/*    C O N T A I N E R S
---------------------------------------- */

.island {
	@extend %cf;
	margin: {
		left: auto;
		right: auto;
	}
}

.island--constrain,
.container {
	padding: {
		left: 10%;
		right: 10%;
	}
}

.container {
	padding: {
		top: $spacing-unit-double;
		bottom: $spacing-unit-double;
	}
}





/*    P A G E  C O N T E N T
---------------------------------------- */

